<h1><%= @question.title %></h1>
<hr>
<p><%= @question.body %></p>
<p>View Count: <%= @question.view_count %></p>
<%# this link to the edit page of the question that shows a form to edit the values already saved %>
<%= link_to "Edit", edit_question_path(@question) %>
